@function colors($color, $type:base) {
  $colors:(
    bg: (
      base: #00BFFF, // azul céu
      primary: #DC143C, // carmesim
      second: #8A2BE2, // azul violeta
      third: #7CFC00 //  verde grama
    ),
    text: (
      base: #fff,
      dark: #000
    )
  );
  $returnMap: map-get($colors, $color);
  @return map-get($returnMap, $type);
}