@function colors($color, $type:base) {
  $colors:(
    bg: (
      base: #2BC1FF,
      primary: #FF4F48,
      second: #761CE8,
      third: #1CE82F,
      four: #FFE61E
    ),
    text: (
      base: #fff,
      dark: #000
    )
  );
  $returnMap: map-get($colors, $color);
  @return map-get($returnMap, $type);
}